/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  #game-board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 1500px;
  }
  
  .category {
    background-color: #086bff;
    color: white;
    padding: 10px;
    font-weight: bold;
  }
  
  .question {
    background-color: #08fff3;
    padding: 20px;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  #question-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  #choices button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  }
  
  #score-board {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .player-info {
    text-align: center;
    margin: 10px;
  }
  
  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #2e3b4e;
    margin-bottom: 10px;
  }
  